.maindiv{
	width: 960px;
	margin: 0 auto auto auto;
}
.headdiv{
	display: inline-block;
}
.contentdiv{
	display: inline-block;
}

.taildiv{
	display: inline-block;
}

.contactus{
	position: fixed;
	left: 0px;
	top: 40%;
	width: 150px;
}

.roomshow{
	float: left;
	width: 400px;
	height: 500px;
}

.roomshow div
{
	float: left;
}

.imgitem{
	width: 100px;
	height: 100px;
	margin: 3px 3px 3px 3px;
}

.imgitem img{
	width: 100%;
}
.imgitem span{
	text-align: center;
    display: block;
}

.delicacy{
	float: left;
	width: 500px;
	height: 500px;
}

.delicacy div
{
	float: left;
}
